.row{
	margin-left: 0;
    margin-right: 0;
    background-color: rgb(31, 42, 78);
}
.col-4 a{
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(239,175,48);
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 4vw;
}
.col-3 a{
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(239,175,48);
    position: absolute;
    bottom: 0;
    left: 40%;
    padding-bottom: 4vw;
}
.logo_img{
	max-width: 100%;
	width: 45vw;
	margin: auto;
	padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    float: right;
}
a{
    color: unset;
}