<div class="header">
    <div class="row desktop">
        <div class="col-5">
            <div class="containerNavbar" ng-init="initAll()">
                <nav class = "navbar">
                    <img src="assets/img/Logo.png" class="logo_img" alt="Logo">
                </nav>
            </div>
        </div>
        <div class="col-4">
            <a href="#about">Chi siamo</a>
        </div>
        <div class="col-3">
            <a href="#contatti">Contatti</a>
        </div>
    </div>
    <div class="row mobile">
        <div class="col-8">
            <div class="containerNavbar" ng-init="initAll()">
                <nav class = "navbar">
                    <img src="assets/img/Logo.png" class="logo_img" alt="Logo">
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
