<div class="footer">
    <div class="pagamenti">
        <div class="pagamenti_img">
            <img src="../../assets/img/pagamenti/visa.png" alt="Visa" height="40">
            <img src="../../assets/img/pagamenti/vpay.png" alt="Vpay" height="40">
            <img src="../../assets/img/pagamenti/mastercard.jpg" alt="Mastercard" height="40">
            <img src="../../assets/img/pagamenti/maestro.png" alt="Maestro" height="40">
            <img src="../../assets/img/pagamenti/american.png" alt="American Express" height="40">
            <img src="../../assets/img/pagamenti/apple.png" alt="Apple pay" height="40">
            <img src="../../assets/img/pagamenti/gpay.png" alt="Google pay" height="40">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-8">
            <div class="contatti">
                DBGRAPHIC di Dario Basaglia<br>
                Via San Vittore 17 20020 Lainate (MI)<br>
                P.Iva: 10173360966<br>
                Tel 333-4949018<br>
            </div>
        </div>
        <div class="col-4">
            <div class="social">
                <a href="https://www.facebook.com/dbgraphic.it/" target="_blank">
                    <img src="../../assets/img/facebook.png" alt="FB">
                </a>
                <a href="https://www.instagram.com/_dbgraphic_/" target="_blank">
                    <img src="../../assets/img/IG.png" alt="IG">
                </a>
            </div>
        </div>
    </div>
</div>