.about{
    background-color: rgba(48, 47, 54, 0.4);
    padding-left: 8vw;
    padding-top: 4vw;
    padding-right: 8vw;
    color: white;
}
p{
    margin-bottom: 0;
}
hr{
    width: 90%;
    margin: auto;
    margin-top: 5vw;
    border-color: white;
}
.cataloghi{
    padding-top: 5vw;
}
.cataloghi h2{
    padding-bottom: 3vw;
    text-align: center;
}
.catalogo{
    width: 27.5vw;
    position: relative;
    display: inline-block;
    text-align: center;
}
.catalogo img{
    width: 80%;
}

@media(max-width: 551px){
    h5{
        font-size: 4vw;
        font-weight: normal;
    }
    p{
        font-size: 3.5vw;
        font-weight: lighter;
    }
}