<div class="about">
    <h5>DBGRAPHIC è un'azienda di Lainate (MI) che si occupa di stampe personalizzate su abbigliamento (sportivo, casual, divise da lavoro ecc.) e gadget, adesivi, insegne, pannelli pubblicitari, locandine, grafiche per eventi e pagine Facebook, targhe, decorazione vetrine.<br>
        Ci rivolgiamo sia a privati che aziende.</h5><br>
    <p>
        Nello specifico ci occupiamo di:<br>
        - Creazione di abbigliamento e gadgets personalizzati.<br>
        - Creazione di adesivi, scritte e insegne per vetrine.<br>
        - Creazioni grafiche per eventi sia digitali che cartacee (ad esempio grafiche per eventi Facebook correlate a locandine da stampare).<br>
        - Editing grafico.<br>
        - Creazione di siti web.<br><br>

        Tecniche usate: stampa in vinile, termotrasferibili, transfer digitale, floccato, effetto metallico, glitter, rifrangente.
    </p>
    <hr>
    <div class="cataloghi">
        <h2>Sfoglia i nostri cataloghi:</h2>
        <div class="catalogo">
            <a href="https://view.joomag.com/clique-italia-clique-italy-2020/0967450001576242240?short&" target="_blank">
                <img src="../../assets/img/cover-clique-2020.jpg" alt="Catalogo">
            </a>
        </div>
        <div class="catalogo">
            <a href="https://view.joomag.com/projob-italia-projob-italia-2020/0614523001578383607?short&" target="_blank">
                <img src="../../assets/img/cover-projob-2020.jpg" alt="Catalogo">
            </a>
        </div>
        <div class="catalogo">
            <a href="https://view.joomag.com/printer-italia-printer-italia-2019/0455630001548241188?short&" target="_blank">
                <img src="../../assets/img/cover-printer-2020.jpg" alt="Catalogo">
            </a>
        </div>
    </div>
    <div class="cataloghi">
        <div class="catalogo">
            <a href="http://www.sols-products.com/ecatalogue/IT/mobile/index.html" target="_blank">
                <img src="../../assets/img/sols.jpg" alt="Catalogo">
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
</div>
