<app-header></app-header>
<router-outlet></router-outlet>
<app-about id="about"></app-about>
<app-contatti id="contatti"></app-contatti>
<div id="cookieConsent">
    Utilizziamo i cookie per personalizzare contenuti ed annunci, per fornire funzionalità dei social media e per analizzare il nostro traffico. Non condividiamo informazioni personali con terzi, né raccogliamo dati sensibili tramite cookies. Acconsenta ai nostri cookie se continua ad utilizzare il nostro sito web.<br>
    <a class="cookieConsentOK" on-click="accettacookie()">Accetta tutti i cookie</a><a class="cookieConsentOK" on-click="chiudiCookie()">Usa solo i cookie necessari</a>
</div>
<app-footer></app-footer>