<app-header></app-header>
<router-outlet></router-outlet>
<app-about id="about"></app-about>
<app-contatti id="contatti"></app-contatti>
<div id="cookieConsent">
    Utilizziamo i cookie per personalizzare contenuti ed annunci, per fornire funzionalità dei social media e per analizzare il nostro traffico. Condividiamo inoltre informazioni sul modo in cui utilizza il nostro sito con i nostri partner che si occupano di analisi dei dati web, pubblicità e social media, i quali potrebbero combinarle con altre informazioni che ha fornito loro o che hanno raccolto dal suo utilizzo dei loro servizi. Acconsenta ai nostri cookie se continua ad utilizzare il nostro sito web. <a routerLink="cookie-info" target="newtab">Maggiori Informazioni</a>.<br>
    <a class="cookieConsentOK" on-click="accettacookie()">Accetta tutti i cookie</a><a class="cookieConsentOK" on-click="chiudiCookie()">Usa solo i cookie necessari</a>
</div>
<app-footer></app-footer>