p{
    margin-bottom: 0;
}

/*-----------------cookie-------------------*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 6vw;
    font-size: 12px;
    color: #ccc;
    line-height: 18px;
    padding: 12px 12px 12px 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#cookieConsent a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
#cookieConsent a.cookieConsentOK {
    background-color: rgb(146,146,146);
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
	margin: 12px 12px 0 0;
	text-decoration: none;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: rgb(177,175,176);
}

.contenuto a{
	cursor: pointer;
	color: rgb(120, 120, 120);
}

/*----------------//cookie------------------*/