p{
    margin-bottom: 0;
}
.home{
    /*
    background-image: url("assets/img/4.jpeg");
    background-attachment: fixed;
    */
    background-color: rgb(31, 42, 78);
    box-shadow: inset 0 0 0.5vw rgb(31, 42, 78);
}
