p{
    margin-bottom: 0;
}
.home{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
}
.home_img{
    width: 40vw;
    margin: auto;
}
.home_img img{
    max-width: 100%;
    width: 40vw;
    padding-bottom: 3vw;
}
.row{
    margin-right: 0;
}
.col-6{
    color: rgb(239,175,48);
}
.col-10{
    margin: auto;
    color: rgb(239,175,48);
}
.mobile{
    display: none;
}

@media(max-width: 551px){
    .mobile{
        display: block;
    }
    .col-6{
        display: none;
    }
}